@model IEnumerable<MchRepositoryTryout.Models.TU>

@{
    ViewBag.Title = "TableTU";
    var lvsede = "";
    if (ViewBag.Sede != null) { lvsede = ViewBag.Sede; }
}

<h2 class="center">MTBT Report</h2>
<h4 class="center"> Sede Selecionada:</h4>
<h4 class="center text-danger">@lvsede</h4>
@using (Html.BeginForm("TableTU", "Home", FormMethod.Post))
{
    <div class="form-row">
        <div class="form-group">
            <label class="col-form-label">SEDE:</label>
            <select class="form-control"  name="sede">
                @foreach (string item in ViewBag.Items)
                {
                    var flag = lvsede == @item ? "selected" : "";
                    <option value="@item" @flag>@item</option>
                }
            </select>
        </div>
        <div class="form-group ml-5">
            <label class="col-form-label">Data Inicial:</label>
            <input type="datetime" class="form-control dates" id="dataInicialId" name="initialDate" placeholder="dd/MM/aaaa">
        </div>
        <div class="form-group ml-5">
            <label class="col-form-label">Data Final:</label>
            <input type="datetime" class="form-control dates" id="dataFinalId" name="finalDate" placeholder="dd/MM/aaaa">
        </div>
        <button class="btn btn-primary">Filtrar</button>
    </div>
}

<table class="table innerTable lowPadding noMarginBottom">
    <tr class="tableHeader lowPadding">
        <th class="center lowPadding">
            @Html.DisplayNameFor(model => model.Km)
        </th>
        <th class="center lowPadding">
            Aparelhos de mudança de via no TU
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="innerTable lowPadding">
            <td class="vertical lowPadding">
                @item.Km
            </td>
            <td class="lowPadding">
                <table class="table innerTable lowPadding noMarginBottom">
                    <tr class="bg-dark lowPadding">
                        <th class="center text-white lowPadding">AMV</th>
                        <th class="center text-white lowPadding">Dados MCH</th>
                        <th class="amvDetail lowPadding">+</th>
                    </tr>
                    @foreach (var amv in item.AmvsInTU)
                    {
                        <tr class="amvLine lowPadding">
                            <td class="vertical lowPadding">@amv.AmvNumber</td>
                            <td class="lowPadding">
                                <table class="table innerTable noMarginBottom ">
                                    <tr class="bg-secondary lowPadding">
                                        <th class="center text-white lowPadding">Id</th>
                                        <th class="center text-white lowPadding">Nome</th>
                                        <th class="center text-white lowPadding">Trens</th>
                                        <th class="center text-white lowPadding">MTBT</th>
                                        <th class="mchDetail lowPadding">+</th>
                                    </tr>
                                    @foreach (var mch in amv.MchsInAmv)
                                    {
                                        <tr class="mchLine lowPadding">
                                            <td class="lowPadding">@mch.Id</td>
                                            <td class="lowPadding">@mch.InstallLocation</td>
                                            <td class="lowPadding">@mch.Trains</td>
                                            <td class="text-danger lowPadding">@mch.MTBT</td>
                                            <td class="lowPadding"></td>
                                        </tr>
                                    }
                                </table>
                            </td>
                        </tr>
                    }
                </table>
            </td>
        </tr>
    }
</table>
@section Scripts{
    @Scripts.Render("~/bundles/tableTU")
    <script>
        $(".dates").datepicker({
            dateFormat: 'dd/mm/yy',
            dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
            dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
            dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab', 'Dom'],
            monthNames: ['Janeiro', 'Fervereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
            monthNamesShort: ['Jan', 'Fer', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
            nextText: 'Próximo',
            prevText: 'Anterior'
        });
    </script>
}
