@model IEnumerable<MchRepositoryTryout.Models.TU>

@{
    ViewBag.Title = "TableTU";
}

<h2 class="center">MTBT Report</h2>

<table class="table innerTable">
    <tr class="tableHeader">
        <th class="center">
            @Html.DisplayNameFor(model => model.Km)
        </th>
        <th class="center">
            Aparelhos de mudança de via no TU
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="innerTable">
            <td class="vertical">
                @item.Km
            </td>
            <td>
                <table class="table innerTable">
                    <tr class="bg-dark">
                        <th class="center text-white">AMV</th>
                        <th class="center text-white">Dados MCH</th>
                        <th class="amvDetail">+</th>
                    </tr>
                    @foreach (var amv in item.AmvsInTU)
                    {
                        <tr class="amvLine">
                            <td class="vertical">@amv.AmvNumber</td>
                            <td>
                                <table class="table innerTable">
                                    <tr class="bg-secondary">
                                        <th class="center text-white">Id</th>
                                        <th class="center text-white">Nome</th>
                                        <th class="center text-white">Trens</th>
                                        <th class="center text-white">MTBT</th>
                                        <th class="mchDetail">+</th>
                                    </tr>
                                    @foreach (var mch in amv.MchsInAmv)
                                    {
                                        <tr class="mchLine">
                                            <td>@mch.Id</td>
                                            <td>@mch.InstallLocation</td>
                                            <td>@mch.Trains</td>
                                            <td class="text-danger">@mch.MTBT</td>
                                            <td></td>
                                        </tr>
                                    }
                                </table>
                            </td>
                        </tr>
                    }
                </table>
            </td>
        </tr>
    }
</table>
@section Scripts{
    @Scripts.Render("~/bundles/tableTU")
}
